@using IUMS.Web.Areas.LMS.Models
@model CourseQuestionViewModel
<style>
	.ML__keyboard {
		z-index: 200000 !important;
		position: fixed;
	}
</style>
<div id="shortQuestionPart" class="questionPart">
	<div class="row px-2">
		<div class="form-group col-md-10">
			<label></label>
			<math-field style="width:100%"></math-field>
		</div>
		<div class="form-group col-md-2">
			<label class="form-label">Mark:</label>
			<input class="form-control" asp-for="Mark" pattern="^(?!0+$)([1-9][0-9]*|0\.[0-9]+|[1-9][0-9]*\.[0-9]+)?$" />
		</div>
	</div>
	<div class="row px-2">
		<div class="form-group col-md-12">
			<label class="form-label">Question:</label>
			<textarea class="form-control" asp-for="Question" rows="3"></textarea>
		</div>
	</div>
	<button type="submit" class="btn btn-dark" style="width:100%" id="shortSubmit">Save</button>
</div>
<script>
	$(document).ready(() => {
		$('#Question').richText({
			height: 150,
			urls: false,
			table: false,
			imageUpload: false,
			fileUpload: false,
			videoEmbed: false,
			removeStyles: false,
			code: false,
			maxlength: 3000,
			lengthIncludeHTML: true,
		})
	})

	$("#shortSubmit").click(function () {
		if (parseFloat($("#Mark").val()) == 0.00) {
			toastNotifyError('Mark can not be  0.00');
			return false;
		}
	});

</script>